* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-content {
    /* background-color: red; */
    width: 100%; 
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-card {
    width: 80vw;
    height: 15vh;
    border: 1px solid #ccc;     
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    color: #ccc;
    justify-content: center;
    align-items: center;
}


.card-area-1 {
    background-color: red;
    width: 100%;
    height: 100%;
}

.card-area-2  {
    background-color: rgb(69, 112, 58);
    width: 100%;
    height: 100%;

}

.card-area-3 {
    background-color: rgb(209, 241, 22);
    width: 100%;
    height: 100%;

}



@media (max-width: 768px) {
    .form-card {
        grid-template-columns: 1fr; 
    }
}


.read-content {
    width: 80vw;
    height: 40vh;
    /* display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; */
}   

h1 {
    color: #fff;
}

label {
    padding: 0 3px;
    margin-left: 6px;
    font-size: 1vw;
}

.content-h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2vw;
    text-align: center;
    margin-top: -8vh;
}

.form-card input,
select {
    width: 21.6vw;
    border: 1px solid #ccc;
    padding:  5px;
    margin-left: 10px;
}


#btn-salvar {
    width: 5vw;
    height: 3.5vh;
    font-size: 0.8rem;
    cursor: pointer;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    background-color: #1dbce8;
    text-decoration: none;
}

#btn-salvar:hover {
    background-color: #1f70eb;
    color: #fff;
}


.space {
    width: 100%;
    /* background-color: #5df35d; */
    height: 5vh;
}

.list-content{
    /* width: 70%; */
    max-height: 60vh; /* Limita o tamanho máximo da tabela */
    overflow-y: auto;
    color: #000;
}

table {
    /* border: 1px solid #000; */
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    table-layout: fixed;
}

td, td {
    border: 1px solid #ccc;
    padding: 8px; 
    text-align: left; 
    font-size: 0.8rem;
    word-wrap: break-word;
}

th {
    color: #000;
    /* background-color: #e7e5e5; */
    border: 1px solid #ccc;
    font-weight: 500;
}

.actions{
    text-align: center;
    width: 100%;
    padding: 0;
}

.btn-edit{
    border: 0;
    border-radius: 0;
    color: #104696;
    cursor: pointer;
    margin-right: 15px;
}

.btn-delete{
    border: 0;
    border-radius: 0;
    color: #104696;
    cursor: pointer;
    margin-left: 15px;
}

button:hover {
    text-decoration: underline;
}

.even {
    background-color: #f2f2f2; /* Cinza claro */
}

.odd {
    background-color: #ffffff; /* Branco */
}

/* Efeito hover para melhorar a usabilidade */
tr:hover {
    background-color: #d3d3d3; /* Cinza mais escuro ao passar o mouse */
}

th:nth-child(1), td:nth-child(1) { width: 10%; } /* ID menor */
th:nth-child(2), td:nth-child(2) { width: 20%; } /* Nome maior */
th:nth-child(3), td:nth-child(3) { width: 25%; } /* Descrição maior */
th:nth-child(4), td:nth-child(4) { width: 15%; } /* Data de criação */
th:nth-child(5), td:nth-child(5) { width: 10%; } /* */


.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
  
}

.modal-content {
    border-radius: 4px;
    width: 16vw;
    height: 45vh;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background-color: #fff;
}

.modal-content input {
    width: 15vw;
}

.modal-sp1{
    background-color: #1dbce8;
    width: 100%;
    height: 10vh;
    text-align: center;
    align-items: center;
    display: flex;
    font-size: 0.8rem;
    justify-content: center;
}

.modal-sp2{
    /* background-color: #1de849; */
    width: 100%;
    height: 12vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-end;
}

.modal-espaco{
    width: 100vw;
    height: 1.5vh;
}

.modal-sp3{
    /* background-color: #af1de8; */
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: flex-start;
}

.modal-sp4{
    /* background-color: #e8d41d; */
    width: 100%;
    height: 3vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-sp2 input{
    margin-left: 10px;
    height: 3vh;
    border: 1px solid #ccc;
}

.modal-sp3 input{
    margin-left: 10px;
    height: 3vh;
    border: 1px solid #ccc;
}

.btn-modal {
    height: 3.5vh;
    width: 6vw;
    border: 0;
    color: #fff;
    border-radius: 8px;
    background-color:  #1dbce8;;
}

.btn-modal:hover {
    border: 1px solid #1f70eb;
    color: #1f70eb;
}

.close {
    position: absolute;
    right: 5px;
    top: 0;
    font-size: 40px;
    cursor: pointer;
}
.modal-space-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: red; */
    width: 100%;
    height: 8vh;
}

.modal-space-2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* background-color: rgb(103, 182, 156); */
    width: 100%;
    height: 8vh;
}

.modal-btn-content {
    display: flex;
    justify-content: center;
    background-color: red;
    width: 100%;
}


