<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../../../../lib/angular.min.js"></script>
    <script src="../../../../node_modules/angular-route/angular-route.min.js"></script>
    <script src="../../../../node_modules/angular-resource/angular-resource.min.js"></script>
    <script src="../../../../main.js"></script>
    <link
      rel="stylesheet"
      href="src/componentes/departamento/create/create.css"
    />
  </head>
  <body id="corpo">
    <div class="form-content" ng-controller="controllerDepartamento">
      <form>
        <div class="form-card">
          <div class="card-area-1">
            <div class="card-area-1-text">
              <h1>Como Filtrar?</h1>
              <br />
              <p>Digite o que deseja dentro da caixa correspondente</p>
              <p>A tabela atualizara confome for digitando.</p>
            </div>
          </div>

          <div class="card-area-2">
            <div class="card-area-2-text">
              <label for="">ID:</label>
              <input type="text" ng-model="filtrarId" />
              <br />
              <label for="">Departamento:</label>
              <input type="text" ng-model="filtrarDepartamento" />
            </div>
          </div>

          <div class="card-area-3">
            <div class="card-area-3-btn">
              <button class="btn-clean" ng-click="limparCampos()">
                Limpar Campos
              </button>
              <button class="btn-create" ng-click="abrirModal()">Criar</button>
            </div>
          </div>
        </div>
      </form>

      <div class="space">
        <div class="modal" ng-show="modalAberto">
          <div class="modal-content">
            <span class="close" ng-click="fecharModal()">&times;</span>

            <form ng-submit="save();">
              <div class="modal-sp1"><h1>Adicionar Departamento</h1></div>

              <div class="modal-sp2">
                <label for="departamento">Departamento:</label>
                <input
                  name="departamento"
                  type="text"
                  id="departamento"
                  ng-model="departamento.nome"
                  required
                > 

                <label for="descricao">Descrição:</label>
                <textarea
                  name="descricao"
                  type="text"
                  id="descricao"
                  ng-model="departamento.descricao"
                  required
                ></textarea>
              </div>

              <div class="modal-sp3">
                <button class="btn-modal">Salvar</button>
              </div>
            </form>
          </div>
        </div>
      </div>

      <div class="read-content">
        <div class="list-content">
          <table>
            <tr>
              <th ng-click="orderByMe('id')">ID</th>
              <th ng-click="orderByMe('nome')">Departamento</th>
              <th ng-click="orderByMe('descricao')">Descrição</th>
              <th ng-click="orderByMe('criadoEm')">Data de criação</th>
              <th>Ações</th>
            </tr>

            <tr
              ng-repeat="departamento in departamentos | filter:{nome: filtrarDepartamento, id:filtrarId}"
              ng-class="{'even': $index % 2 === 0, 'odd': $index % 2 !== 0}"
            >
              <td>{{departamento.id}}</td>
              <td>{{departamento.nome}}</td>
              <td>{{departamento.descricao}}</td>
              <td>{{departamento.criadoEm}}</td>
              <td class="actions">
                <button class="btn-edit" ng-click="editTabela(departamento.id)">
                  Editar
                </button>
                <button class="btn-delete" ng-click="delete(departamento.id);">
                  Deletar
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="modal" ng-show="modalEditAberto">
        <span class="close" ng-click="fecharEditModal()">&times;</span>

        <div class="modal-content">
          <form ng-submit="saveDepartamentoEdit()">
            <div class="modal-sp1"><h1>Editar Departamento</h1></div>

            <div class="modal-sp2">
              <label for="nome">Nome:</label>
              <input
                name="nome"
                type="text"
                id="nomeEdit"
                ng-model="departamento.nome"
                required
              />

              <label for="descricao">Descrição:</label>
              <textarea
                name="descricao"
                type="text"
                id="descricaoEdit"
                ng-model="departamento.descricao"
                required>
            </textarea>
            </div>

            <div class="modal-sp3">
              <button class="btn-modal" type="submit">Salvar Alterações</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
